{% for post in paginator.posts %}
<article class="post">
    <header class="post-header">
        <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>
        {{ post.excerpt | strip_html }} <a class="read-more" href="{{post.url}}">&raquo;</a>
        </p>
    </section>
    <footer class="post-meta">
        {% if site.author.image %}<img class="author-thumb" src="{{site.author.image}}" alt="Imagen del autor" nopin="nopin" />{% endif %}
        {{site.author.name}}
        <time class="post-date" datetime="{{post.date | date: '%b %-d, %Y'}}">{{ post.date | date: "%b %-d, %Y"}}</time>
    </footer>
</article>
{% endfor %}

<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="{{ site.baseurl }}/" class="newer-posts">&larr; Recientes</a>
    {% else %}
      <a href="/page/{{ paginator.previous_page }}" class="newer-posts">&larr; Recientes</a>
    {% endif %}
  {% endif %}
  <span class="page-number">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page/{{ paginator.next_page }}" class="older-posts">Anteriores &rarr;</a>
  {% endif %}
</nav>
